@inject NavigationManager navigationManager
@page "/"

<h1>Hello, world!</h1>
Welcome to your new app.
<br />

<textarea @bind="InputCode"></textarea>

<br />

<button @onclick="TrySomethingOut">go</button>

<br />

@code{
    public string InputCode;

    public CodeChecker codeChecker = new CodeChecker();

    public async Task TrySomethingOut()
    {
        Console.WriteLine("Input:" + InputCode);
        await codeChecker.Check(InputCode);
    }

    protected async override Task OnInitializedAsync()
    {
        await codeChecker.OnInitializedAsync(navigationManager.BaseUri);
    }
}
