@inject NavigationManager navigationManager
@page "/"

<h1>Hello, world!</h1>
Welcome to your new app.
<br />
<br />

<pre>
public static float Value;
float Update(float deltaTime){
</pre>
<textarea @bind="InputCode"></textarea>
<br />
<pre>}</pre>
<br />



<button @onclick="TrySomethingOut">go</button>

<br />



@code{
    public string InputCode;

    public CodeCompiler codeChecker = new CodeCompiler();

    public async Task TrySomethingOut()
    {
        var actualCode = "public class MainThing { public static float value {get;set;}\n public static void Update(float deltaTime) { " + InputCode + "; } }";
        Console.WriteLine("Input:" + actualCode);
        var snippet = await codeChecker.Compile(actualCode);

        if (snippet != null)
        {
            var fpsRunner = new FpsRunner(snippet, 60);
            fpsRunner.Check(1f);
        }
    }

    protected async override Task OnInitializedAsync()
    {
        await codeChecker.OnInitializedAsync(navigationManager.BaseUri);
    }
}
